.App {
  text-align: center;
  background-color: #fde65f;
  padding: 2%; 
  font-family: 'Sriracha';
}

h1 {
  font-size: 3.3rem;
  text-shadow: 2px 2px rgb(178, 187, 195);
  color: rgb(59, 59, 13);
}
.title {
  font-size: 2.5rem;
}

#gen {
  text-decoration: underline white;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  text-indent: 50px;
}

#gridDiv {
  display: flex;
  justify-content: center;

}

#grid {                       
  width: 20px;
  height: 20px;
  border: solid 1px black;
  background-color: snow;
}

#buttonsDiv {
  border-bottom: 1px solid snow;
}

button {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1%;
  margin: 2%;
  font-size: 1.3rem;
  font-weight: 900;
  background-color: #B6CEC7;
  box-shadow: 1px -1px #86A3C3;
  outline: none;
}

section {
  margin-right: -3%;
}

#cols {
  margin-top: -3%;
}

.add {
  margin-right: -1%;
}

.rulesDiv {
  display: flex;
  justify-content: center;
  border-right: 1px solid white;
}

.rulesDiv, .descriptionDiv {
  width: 49%;
  padding: 2%;
  margin-top: 1%;
}

#words {
  display: flex;
  flex-direction: row;
}